---
layout: default
---

<header class="page-home">
    <h1>{{ site.title }}</h1>
</header>

<main>
    <section class="page-venue">
        {% include markdownify.html file="content/venue.md" %}
    </section>

    <section class="page-event">
        {% include markdownify.html file="content/event.md" %}
    </section>

    <section class="page-transit">
        {% include markdownify.html file="content/transit.md" %}
    </section>

    <section class="page-accommodations">
        {% include markdownify.html file="content/accommodations.md" %}
    </section>
</main>

{% include footer_scripts.html %}