<main>
    <div class="container">
        <section class="page-venue col-sm-12">
            {% include markdownify.html file="content/venue.md" %}
        </section>
    </div>

    <div>
        {% include map.html %}
    </div>

    <div class="container">
        <section class="page-event col-sm-12">
            {% include markdownify.html file="content/event.md" %}
        </section>
    </div>

    <div>
        <img class="img-responsive" src="{{ site.url }}/assets/img/image_01.JPG" />
    </div>

    <div class="container">
        <section class="page-accommodations col-sm-12">
            {% include markdownify.html file="content/accommodations.md" %}
        </section>
    </div>

    <div>
        <img class="img-responsive" src="https://scontent-lga3-1.cdninstagram.com/t51.2885-15/e35/15048256_1648150685477881_5611993148730376192_n.jpg?ig_cache_key=MTM4NDgxODY2MTc0MjgwMTUyNQ%3D%3D.2" />
    </div>

    <div class="container">
        <section class="page-rsvp col-sm-12">
            {% include rsvpify.html %}
        </section>
    </div>
</main>