$white: #fdfdfd;
$url: '{{ site.url }}';

body {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
}

header {
  @media (min-width: 768px) {
    height: 100vh;
  }
}

abbr.amp {
  font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  font-size: 110%;
  font-style: italic;
  border: none;
  text-decoration: none;
  cursor: text;
}

.page-home {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: $white;
  }

  .rsvp {
    border: 1px solid $white;
    display: inline-block;
    padding: .2em 1em;
    color: $white;
  }

}

[class*="page-"] {
  padding: 3em 0;
}

footer {
  height: 10vh;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.img-responsive {
  width: 100%;
}

.parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 768px) {
    background-attachment: fixed;
  }
}

.bg-1 {
  background-image: url('#{$url}/assets/img/image_01.jpg');
}

.bg-2 {
  min-height: 500px;
  background-image: url('#{$url}/assets/img/image_04.jpg');
}

.bg-3 {
  min-height: 500px;
  background-image: url('#{$url}/assets/img/image_03.jpg');
}